&i2c0 {
	consumer1@5d {
		compatible = "Consumer1";
		status = "okay";
		reg = <0x5d>;
		VCC_TP-supply = <&rk818_ldo2_reg>;
	};

	consumer2@5e {
		compatible = "Consumer2";
		status = "okay";
		reg = <0x5e>;
		VCC_TP-supply = <&rk818_ldo2_reg>;
	};
};
